@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");


body {
  font-family: "Source Code Pro", monospace;
}

#header {
  background-image: url("/img/header/rchs-mc.JPG");
  background-color: #cccccc;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#header h1 {
  font-size: 6em;
}

.bg-black {
  background-color: #000000;
}

.border-0{
    border-width: 0px;
}
