body {
  font-family: "Source Code Pro", monospace;
}

#header h1 {
  font-size: 6em;
}

.bungee{
font-family: bungee;
color: #45b3e0ff;
}

.bg-black {
  background-color: #000000;
}

.border-0{
    border-width: 0px;
}
